build_exe.ps1
installer.iss
NaCaZoEmailer.spec
__pycache__/contact_dialog.cpython-311.pyc
__pycache__/db.cpython-311.pyc
__pycache__/ui.cpython-311.pyc
build/NaCaZoEmailer/Analysis-00.toc
build/NaCaZoEmailer/base_library.zip
build/NaCaZoEmailer/EXE-00.toc
build/NaCaZoEmailer/NaCaZoEmailer.pkg
build/NaCaZoEmailer/PKG-00.toc
build/NaCaZoEmailer/PYZ-00.pyz
build/NaCaZoEmailer/PYZ-00.toc
build/NaCaZoEmailer/warn-NaCaZoEmailer.txt
build/NaCaZoEmailer/xref-NaCaZoEmailer.html
build/NaCaZoEmailer/localpycs/pyimod01_archive.pyc
build/NaCaZoEmailer/localpycs/pyimod02_importers.pyc
build/NaCaZoEmailer/localpycs/pyimod03_ctypes.pyc
build/NaCaZoEmailer/localpycs/pyimod04_pywin32.pyc
build/NaCaZoEmailer/localpycs/struct.pyc
dist/NaCaZoEmailer.exe
dist/NaCaZoEmailerSetup.exe
private/column_widths.json
private/contacts.db
private/settings.json
